{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
  <h2>DETAIL</h2>
  <hr>

  <p>{{ movie.title }}</p>
  <p>{{ movie.description }}</p>

  <form action="{% url 'movies:update' movie.pk %}">
    {% bootstrap_button "UPDATE" button_type="submit" button_class="btn-info" %}
  </form>

  <form action="{% url 'movies:delete' movie.pk %}" method="POST">
      {% csrf_token %}
      {% bootstrap_button "DELETE" button_type="submit" button_class="btn-danger" %}
  </form>

  <form action="{% url 'movies:index' %}">
  {% bootstrap_button "BACK" button_type="submit" button_class="btn-warning" %}
  </form>

  <hr>
  <h4>댓글 목록</h4>
  {% if comments %}
    <p>{{comments|length}}개의 댓글이 있습니다.</p>
  {% endif %}

  <ul>
    {% for comment in comments %}
      <li></li>
    {% endfor %}
  </ul>

{% endblock content %}