body {
  /* 1. 필요하다면 body 전체에 알맞은 position을 작성하시오. */
  

  /* 아래 코드는 수정하지 마시오. */
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.header-style {
  /* 2-1. 필요하다면 header에 알맞은 position을 작성하시오. */
  
  /* 2-2. header안의 컨텐츠들을 중앙정렬하시오. */
  text-align: center;
}

.nav-style {
  /* 3-1. 필요하다면 section에 알맞은 position을 작성하시오. */
  
  /* 3-2. nav 아래쪽에 자유롭게 마진을 생성하시오. */
  margin-bottom: 2rem;
}

.section-style {
  /* 4-1. 필요하다면 section에 알맞은 position을 작성하시오. */
  
  /* 4-2. section과 aside가 나란히 올 수 있도록 변경하시오. */
  display: inline-block;
  
  /* 아래 코드는 수정하지 마시오. */
  width: 35%; 
  margin-left: 15%;
}

.article-style {
  /* 5. 필요하다면 article에 알맞은 position을 작성하시오. */
  
  /* 아래 코드는 수정하지 마시오. */
  width: 90%;
}

.aside-style {
  /* 6-1. 필요하다면 aside에 알맞은 position을 작성하시오. */

  /* 6-2. aside와 section이 나란히 올 수 있도록 변경하시오. */
  display: inline-block;

  /* 6-3. aside 내부의 컨텐츠가 상단에 위치할 수 있도록 변경하시오. */
  vertical-align: top;

  /* 아래 코드는 수정하지 마시오. */
  width: 30%;
  margin-right: 15%;
  margin-top: 4rem;
}

.footer-style {
  /* 7-1. footer에 알맞은 position을 작성하시오. */
  position: fixed;
  
  /* 7-2. footer가 화면 가장 아래에 있을 수 있도록 위치를 조정하시오. */
  bottom: 0px;
  
  /* 7-3. footer안의 컨텐츠들을 중앙정렬하시오. */
  text-align: center;

  /* 아래 코드는 수정하지 마시오. */
  width: 90%;
}

.section-aside {
  margin-bottom: 4rem;
}

/* 8. nav 태그 안에 있는 a 태그의 하이퍼링크 선을 제거하시오. */
/* 9. a 태그 간의 좌우 간격이 존재하도록 마진을 생성하시오. */
nav a {
  text-decoration: none;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

/* 10. 배경 색상을 white로 변경하시오.*/
/* 11. 배경 색상의 투명도를 80%로 변경하시오. */
.bg-white {
  background-color: white;
  opacity: 80%;
}

/* 12. 텍스트 색상을 grey로 변경하시오. */
.text-grey {
  color: #383631;
}

/* 13. 텍스트 색상을 brown으로 변경하시오.*/
.text-brown {
  color: brown;
}

/* 14. 이미지의 크기가 콘텐츠 영역의 너비에 꽉 찰 수 있도록 변경하시오.*/
.img-width {
  width: 100%;
}

/* 15. 필요에 따라 자유롭게 스타일을 추가 작성하시오. */